.DS_Store
# Ignore cache files from Python
*.pyc
*__pycache__

# Ignore output folders from example files
Outputfolder
Outputfolder/*
# ignore Docker files that are created if running example scripts
docker/Outputfolder
docker/Outputfolder/*
docker/output_and_log_dir
docker/output_and_log_dir/*
docker/temp_user_files
docker/temp_user_files/*
